.attribute-editor {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 3.5rem;
    background-color: #ffffff;
    position: absolute;
    z-index: 1000;
    border-radius: 0.5rem;
    overflow: hidden;
    filter: drop-shadow(0 0 10px #c0c0c0);
}

.attribute-tool {
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    border: none;
}